<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_header(title: t(".title")) %>
  <% dialog.with_body do %>
    <p class="text-sm text-secondary mb-4"><%= t(".url_hint") %></p>
    <%= form_with url: create_provider_family_merchants_path, method: :post, data: { turbo_frame: "_top" } do |f| %>
      <div class="space-y-3">
        <div>
          <%= f.label :name, t(".name_label"), class: "form-field__label block mb-1" %>
          <%= f.text_field :name, placeholder: t(".name_placeholder"), class: "form-field__input block w-full", required: true %>
        </div>
        <div>
          <%= f.label :url, t(".url_label"), class: "form-field__label block mb-1" %>
          <%= f.url_field :url, placeholder: "https://example.com", class: "form-field__input block w-full" %>
        </div>
        <%= f.submit t(".submit"), class: "btn-primary w-full mt-3" %>
      </div>
    <% end %>
  <% end %>
<% end %>
