<%= content_for :page_title, t(".title") %>

<div class="bg-container shadow-border-xs rounded-xl p-4">
  <h2 class="text-lg font-medium text-primary mb-1"><%= t(".heading") %></h2>
  <p class="text-sm text-secondary mb-4"><%= t(".description") %></p>
  <div class="flex flex-col md:flex-row gap-4">
    <%= link_to "https://github.com/Artifrack/WillBudget-Sure/discussions/categories/feature-requests", target: "_blank", rel: "noopener noreferrer", class: "w-full md:w-1/2 flex flex-col items-center p-4 border border-alpha-black-25 rounded-xl hover:bg-container-hover" do %>
      <%= image_tag "github-icon.svg", class: "w-8 h-8 mb-2" %>
      <span class="text-sm font-medium text-primary text-center"><%= t(".feature_request") %></span>
    <% end %>

    <%= link_to "https://github.com/Artifrack/WillBudget-Sure/issues/new?assignees=&labels=bug&template=bug_report.md&title=", target: "_blank", rel: "noopener noreferrer", class: "w-full md:w-1/2 flex flex-col items-center p-4 border border-alpha-black-25 rounded-xl hover:bg-container-hover" do %>
      <%= image_tag "github-icon.svg", class: "w-8 h-8 mb-2" %>
      <span class="text-sm font-medium text-primary text-center"><%= t(".bug_report") %></span>
    <% end %>
  </div>
</div>
